<% provide(:title, 'Về  Chúng Tôi') %>
<div class="row">
  <%= image_tag "home_opener.jpg", class: "img-responsive" %>
  <p classs="about">
    Thành lập từ năm 1956, với khinh nghiệm 2 thế hệ, cơ khí quỳnh đảm bảo mang đến sự tin cậy, chuẩn xác cho khách hàng.
    Chúng tôi ưu tiên sự tỉ mỉ, chính xác trong công việc.
  </p>
</div>
