<% provide(:title, 'Về  Chúng Tôi') %>
<div class="row">
  <%= image_tag "https://c1.staticflickr.com/5/4287/34607376883_510d53d3ba_o.jpg", class: "img-responsive" %>
  <h4 class="about">
    Thành lập từ trước năm 1954, với kinh nghiệm 2 thế hệ, cơ khí quỳnh đảm bảo mang đến sự tin cậy hài lòng cho khách hàng.
    Sự tỉ mỉ, chính xác là tiêu chí của chúng tôi.
    Cơ khí Quỳnh hiện là một trong những nhà thầu của bệnh viện phụ sản Từ Dũ, khách sạn Novotel.
  </h4>
</div>
