<% provide(:title, 'Trang Chủ') %>
<div class="row">
  <section id="opener">
    <article>
      <h1>cơ khí quỳnh</h1>
      <p>sự hoàn hảo trong chi tiết</p>
    </article>
    <%= video_tag "home_video.mp4", autoplay: :autoplay,
                                    loop: :loop,
                                    mute: :mute,
                                    class: "video" %>
  </section>
</div>
