/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'bootstrap-sass-official'
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  /*background-image: url('/assets/stripe.pn');*/
  background-image: url('https://c1.staticflickr.com/5/4202/35377550796_da14eee47c_o.png');
}

.summary h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.summary h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.summary p {
  text-align: center;
}
