.navbar {
  /*background-image: url('/assets/stripe.png');*/
  border-radius: 0px;
}

.navbar-default {
  border-color: transparent;
  margin-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  /*letter-spacing: 0.37em;*/
  padding-top: 1em;
  color: black;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav li {
  text-align: center;
}

.navbar-nav > li::before {
    content: " | ";
    color: black;
}

li:first-child:before {
  content: "";
}

.collapse > .nav > li > a {
  display: inline;
  color: black;
}

.collapse > .nav > li > a:hover {
  color: #777;
}

@media screen and (max-width: 765px) {
  .navbar .navbar-nav {
    padding-top: 0px;
  }

  .navbar-nav > li::before {
      content: "";
  }

  .collapse > .nav > li > a {
    display: block;
  }
}
