#home a{
  color: white;
}

.summary h1 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.summary h2 {
  text-align: center;
}

.summary p {
  text-align: center;
  margin-bottom: 3em;
}
