<footer class="footer">
  <small>
    <a href="http://cokhiquynh.com/">Cơ Khí Quỳnh</a>
    bởi Trần Đình Quân
  </small>
  <nav>
    <ul>
      <li><%= link_to "Liên Hệ", '#' %></li>
    </ul>
  </nav>
</footer>
