<footer class="footer">
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1725229414888!2d106.66148809413221!3d10.798095066143365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752931ea35b063%3A0x411de7ce12a29784!2zNDMzIEzDqiBWxINuIFPhu7ksIFBoxrDhu51uZyAyLCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1496828487007" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <small>
    <a href="http://cokhiquynh.com/">Cơ Khí Quỳnh</a>
    bởi Trần Đình Quân
  </small>

<div class="container-fluid">
  <div class="row-fluid" >
    <div class="col-md-offset-4 col-md-4" id="box">
      <h2>Contact Us!</h2>
      <hr>
      <form class="form-horizontal" action=" " method="" id="contact_form">
        <fieldset>
         <!-- Form Name -->
         <!-- Text input-->
         <div class="form-group">
           <div class="col-md-12">
             <div class="input-group">
               <span classs="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input name="first_name" placeholder="Name" class="form-control" type="text">
             </div>
           </div>
         </div>
         <!-- Text input-->
         <div class="form-group">
           <div class="col-md-12">
             <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
               <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
             </div>
           </div>
         </div>
        <!-- Text input-->
         <div class="form-group">
           <div class="col-md-12">
             <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
               <input name="phone" placeholder="(005)501-120101" class="form-control" type="text">
             </div>
           </div>
         </div>
        <!-- Text input-->
         <div class="form-group">
           <div class="col-md-12 inputGroupContainer">
             <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
               <textarea class="form-control" name="comment" placeholder="Message"></textarea>
             </div>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12">
              <button type="submit" class="btn btn-warning pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
           </div>
         </div>
      </fieldset>
    </form>
  </div>
</div>
</footer>
