nav.navbar.navbar-default
  .container
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to "co khi quynh", root_path, class: "navbar-brand"
      button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    /! Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li= link_to "XƯỞNG GIA CÔNG", root_path
        / li.dropdown
        /   a.dropdown-toggle data-toggle="dropdown" href="#" SẢN PHẨM
        /   b.caret
        /   ul.dropdown-menu
        / li= link_to "CƠ KHÍ Y TẾ", root_path
        li= link_to "CƠ KHÍ CHÍNH XÁC", static_pages_cokhichinhxac_path
        li= link_to "CƠ KHÍ CÔNG NGHIỆP", static_pages_cokhicongnghiep_path
        li= link_to "CHÚNG TÔI", static_pages_about_path
    /! /.navbar-collapse
